* {
    box-sizing: border-box;
    text-decoration: none;
}

.left {
    float: left;
    border: 3px solid black;
    position: fixed;
}

nav header, nav a {
    width: 250px;
    height: 100%;
    display: block;
    font-size: 30px;
    padding: auto;
    margin: 25% 10%;
}


#main-doc {
    width: auto;
    margin-left: 300px;
    font-size: 20px;
    line-height: 1.8rem;
}

.main-section {
    margin: 10px;
}

.main-section .topic {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .1rem;
}

.main-section p {
    text-indent: 30px;
}

.main-section code {
    background-color: #eee;
}

ul li {
    margin-left: 30px;
}

@media (max-width: 768px) {
    .left {
        float: none;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav header, nav a {
        padding: 10px;
        margin: 5px;
        font-size: 20px;
    }

    #main-doc {
        margin-left: 0;
    }
}